@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;1,300&family=Merriweather:ital,wght@1,700&display=swap');
 
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
 
  box-sizing: border-box;
}
 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1{
  font-family: "Merriweather", sans-serif;
}


h2{
  font-family: "Libre Franklin", sans-serif;
}