.titulo{
  justify-content: center;
  }
  .section-1 {
      padding: 1rem 10rem;
      font-family: 'Roboto', sans-serif;
    }
    .right-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      padding: 3rem;
  }
  
  .left-container {
      display: flex;
      width: 100%;
      padding: 3rem;
      justify-content: center;
    }
    a{
      justify-content: center;
    }


    
  